# Ignore hidden files/folders
.*

# But keep git-related files
!.gitignore
!.gitattributes
!.github/
'.gitkeep

# Python
__pycache__
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

